import { useState } from 'react'
import { logos } from '../../constants/logos'
import {
  AppContainer,
  AppCardStyled,
  ContainerLogos,
  AppReadTheDocStyled,
} from '../../styles/app.styled'

export default function Home() {
  const [count, setCount] = useState<number>(0)

  return (
    <AppContainer>
      <ContainerLogos>
        {logos.map((logo) => (
          <a key={logo.id} href={logo.url} target="_blank">
            <img
              src={logo.image}
              className={`logo ${logo.className}`}
              alt={logo.alt}
              title={logo.alt}
            />
          </a>
        ))}
      </ContainerLogos>
      <h1>TechMinds</h1>
      <h2>Vite + React</h2>
      {/* using example environment variable in Vite Projects  */}
      <h3>{import.meta.env.VITE_ENVIRONMENT}</h3>
      <AppCardStyled>
        <button onClick={() => setCount((count) => count + 1)}>
          count is {count}
        </button>
      </AppCardStyled>
      <AppReadTheDocStyled>
        Click on the Vite, React or TechMinds logos to learn more
      </AppReadTheDocStyled>
    </AppContainer>
  )
}
